site_name: pythonkuma
site_description: Simple Python wrapper for Uptime Kuma

repo_url: https://github.com/tr4nt0r/pythonkuma
repo_name: tr4nt0r/pythonkuma

theme:
    name: material
    icon:
        logo: material/library
    palette:
        # Palette toggle for automatic mode
        - media: "(prefers-color-scheme)"
          toggle:
            icon: material/brightness-auto
            name: Switch to light mode

        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: pink
          accent: purple
          toggle:
            icon: material/brightness-7
            name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: pink
          accent: purple
          toggle:
            icon: material/brightness-4
            name: Switch to light mode

markdown_extensions:
    - toc:
        permalink: true
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences

plugins:
    - search
    - mkdocstrings:
        handlers:
            python:
                paths: [src]
                inventories:
                    - https://docs.python.org/3.12/objects.inv
                options:
                    docstring_style: numpy
                    merge_init_into_class: false
                    show_signature: false
                    members_order: source


watch:
    - docs
    - pythonkuma

nav:
    - About: index.md
    - Reference:
        - pythonkuma: reference.md
